version: '3.8'
services:
  web:
    image: opentravel-img
    command: python -u app.py
    ports:
      - 5000:5000
    volumes:
      - .:/container
    depends_on:
      - db
    networks:
      - mynetwork
  db:
    image: mongo:latest
    container_name: mongodb
    ports:
      - 27017:27017
    volumes:
      - ./database-data:/data/db
    networks:
      - mynetwork

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    ports:
      - 8080:8081
    environment:
      - ME_CONFIG_EDITORTHEME=default
      - ME_CONFIG_MONGODB_SERVER=db
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=ue19sn2p
      - VCAP_APP_HOST=0.0.0.0
    networks:
      - mynetwork
    command: mongo-express --basicAuth.username=root --basicAuth.password=root


networks:
  mynetwork:
    driver: bridge
