<!DOCTYPE html>
<html>
<head>
    <title>Location List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script>
        function GetURL() {
            var gfg = window.location.href.replace("locations", "users");
            window.location.replace(gfg)
            document.getElementById("url").innerHTML = gfg;
        }

        function openLocation(location_id) {
            var newURL = window.location.href.replace("locations/show", "location/" + location_id);
            console.log(newURL)
            window.location.replace(newURL)
            document.getElementById("url").innerHTML = newURL;


        }
    </script>

<body>
<div class="header">
    <h1 class="header_text">Location List</h1>

    <button onclick="GetURL()">
        Switch to users
    </button>
</div>
{% for location in locations %}
<div class="location-card">
    <div class="header">
        <h2 class="header_text">{{ location.name }}</h2>

        <button class="header_text" onclick="openLocation('{{ location.id }}')">
            open card
        </button>
    </div>

    <table>
        {% for field, value in location.items() %}
        <tr>
            <th class="field">
                <span class="field-name">{{ field.capitalize() }}</span>
                <span class="field-value">
                        {% if field == "location" %}
                            {{ value[0] }}, {{ value[1] }}
                        {% elif value is iterable and value is not string %}
                            <ul>
                                {% for item in value %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </span>
            </th>
        </tr>
        {% endfor %}
    </table>
</div>
{% endfor %}
</body>
</html>
