<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
    <script>
        function removeUser(userId) {
            var route = window.location.href.replace("users/show", "/user?id=" + userId);
            fetch(route, {
                method: 'DELETE',
            })
                .then(response => {
                    if (response.ok) {
                        console.log('User ' + userId + ' deleted successfully');
                        window.location.reload()
                    } else {
                        console.log('Error deleting user');
                    }
                })
                .catch(error => {
                    console.log('Error:', error);
                });

        }

        function GetURL() {
            var gfg = window.location.href.replace("users", "locations");
            window.location.replace(gfg)
            document.getElementById("url").innerHTML = gfg;
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
<div class="header">
    <h1 class="header_text">User List</h1>

    <button onclick="GetURL()">
        Switch to locations
    </button>
</div>

{% for user in users %}
<div class="user-card" id={{user.id}}>
    <div class="header">
        <h2 class="header_text">{{ user.username }}</h2>

        <button onclick="removeUser('{{ user.id }}')">
            remove
        </button>
    </div>


    <table>
        <tr>
            <th class="field">
                <span class="field-name">id</span>
                <span class="field-value">{{ user.id }}</span>
            </th>
        </tr>
        <tr>
            <th class="field">
                <span class="field-name">Email</span>
                <span class="field-value">{{ user.email }}</span>
            </th>
        </tr>
        <tr>
            <th class="field">
                <span class="field-name">Password Hash</span>
                <span class="field-value">{{ user.password_hash }}</span>
            </th>
        </tr>
        <tr>
            <th class="field">
                <span class="field-name">Favorite Locations</span>
                <span class="field-value">
                        <ul>
                            {% for location in user.favorite_locations %}
                            <li>{{ location }}</li>
                            {% endfor %}
                        </ul>
                    </span>
            </th>
        </tr>
        <tr>
            <th class="field">
                <span class="field-name">Rating</span>
                <span class="field-value">
                        <ul>
                            {% for rating in user.rating %}
                            <li>{{ rating }}</li>
                            {% endfor %}
                        </ul>
                    </span>
            </th>
        </tr>
        <tr>
            <th class="field">
                <span class="field-name">Suggested Locations</span>
                <span class="field-value">
                        <ul>
                            {% for location in user.suggested_locations %}
                            <li>{{ location }}</li>
                            {% endfor %}
                        </ul>
                    </span>
            </th>
        </tr>
    </table>
</div>
{% endfor %}

</body>
</html>
